<div class="map-container">
  @if (loading()) {
    <div class="map-loading">
      <i class="pi pi-spin pi-spinner"></i>
      <span>Loading summits…</span>
    </div>
  }
  <div
    leaflet
    class="map-view"
    [leafletOptions]="mapOptions"
    [leafletMarkerCluster]="markers"
    [leafletMarkerClusterOptions]="clusterOptions"
    (leafletMapReady)="onMapReady($event)"
  ></div>

  <div class="map-legend">
    <div class="map-legend__item">
      <span class="summit-marker summit-marker--default summit-marker--sm">▲</span>
      <span>Summit</span>
    </div>
    <div class="map-legend__item">
      <span class="summit-marker summit-marker--alert summit-marker--sm">▲</span>
      <span>Alert</span>
    </div>
    <div class="map-legend__item">
      <span class="summit-marker summit-marker--notified summit-marker--sm">★</span>
      <span>On summit</span>
    </div>
    <div class="map-legend__item">
      <span class="walker-legend">🚶</span>
      <span>APRS walker</span>
    </div>
  </div>
</div>
