[Unit]
Description=APRS Listener Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/ubuntu/sota-watchtower/ec2/aprs-listner/aprs-listener.py
WorkingDirectory=/home/ubuntu/sota-watchtower/ec2/aprs-listner/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=ubuntu
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target